.input {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  border:1px solid #fff;
  border-radius: 3px;
}
.lable {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  max-width: 250px;
  padding: 10px;
  border: 2px solid rgb(104, 5, 134);
  background-color: rgba(104, 5, 134, 0.427);
  border-radius: 3px;
}

.button {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  background-color: rgb(104, 5, 134);
  border:1px solid #fff;
  border-radius: 2px;
  color: #fff;
}